@media only screen and (max-width: 1200px) {
    .layout-2,
    footer .row {
        flex-wrap: wrap;
    }
    .col-8, .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-control:nth-child(1), .form-control:nth-child(2),
    .categories-item a, .post-item article,
    .footer-item  {
        width: calc(50% - 1rem);
    }
    .categories-item, .post-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-3:nth-child(3) {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 992px) {
    main {
        padding-top: 8rem;
    }
    .navbar {
        flex-direction: column;
    }
    .collapse {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .grid-item {
        width: calc(50% - 2rem);
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .form-control:nth-child(1), .form-control:nth-child(2),
    .col-3, .categories-item a, .post-item article, .footer-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .post-footer .comment-reply {
        padding-left: 4em;
    }
    .footer-title {
        text-align: center;
    }
    .tags div {
        justify-content: center;
    }
}

@media only screen and (max-width: 574px) {
    main {
        padding-top: 3rem;
    }
    .toggle-button {
        display: initial;
    }
    .toggle .line2 {
        transform: rotate(60deg) translate(-3%, 180%);
    }
    .toggle .line3 {
        transform: rotate(-60deg) translate(32%, 70%);
    }
    .collapse {
        max-height: 0;
        margin-top: 0;
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    .collapse .nav-link {
        display: block;
        text-align: center;
    }
    .search-box {
        border-right: none;
    }
    .collapse-toggle {
        max-height: 50rem;
    }
    .grid-item {
        width: calc(100% - 2rem);
    }
    .post-footer .comment-reply {
        padding-left: 2em;
    }
    .post-footer .rounded {
        width: 8rem;
        height: 8rem;
    }
}